{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block title %}OnTheTouchline | Register Account{% endblock %}

{% block content %}
<div class="page-center">
    <div class="article-create-container">
        <h2>Регистрация</h2>
        <form method="post" class="article-create-form">
            {% csrf_token %}

            {{ form.email|placeholder:"Email" }}
            {% if form.email.errors %}
                <div class="form-error">{{ form.email.errors }}</div>
            {% endif %}

            {{ form.password1|placeholder:"Password" }}
            {% if form.password1.errors %}
                <div class="form-error">{{ form.password1.errors }}</div>
            {% endif %}

            {{ form.password2|placeholder:"Confirm password" }}
            {% if form.password2.errors %}
                <div class="form-error">{{ form.password2.errors }}</div>
            {% endif %}

            <button type="submit" class="btn-primary">Регистриране</button>
        </form>
        <p class="register-footer-text">
            Вече имате профил? <a href="{% url 'login' %}">Вход</a>
        </p>
    </div>
</div>
{% endblock %}
