.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 40px auto;
    max-width: 1200px;
    padding: 70px 20px;
    gap: 40px;
}

.main-article {
    flex: 3;
    background-color: #1c1c1c;
    padding: 20px;
    color: white;
    border-radius: 8px;
    transform: translateX(-30px);
    height: 440px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.small-article {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    flex: 1;
}

.small-article:hover {
    background-color: #444;
}

.main-image {
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 4px;
    overflow-y: auto;
}

.sidebar-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 4px;
}
