.league-page {
  max-width: 900px;
  margin: 100px auto 40px;
  padding: 0 20px;
  color: #eee;
  font-family: Arial, sans-serif;
}

.teams-section {
  background-color: #151414;
  border-radius: 8px;
  padding: 20px 25px;
}

.teams-title {
  color: white;
}

.teams-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.standings-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.standings-table thead th {
  background-color: #222;
  border-bottom: 1px solid white;
  text-align: left;
  vertical-align: middle;
  padding: 8px 12px;
}

.standings-table thead th:first-child {
  border-top-left-radius: 10px;
}

.standings-table thead th:last-child {
  border-top-right-radius: 10px;
}

.standings-table tbody tr {
  background-color: #222;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  cursor: default;
}

.standings-table tbody tr:hover {
  background-color: #b00020;
  color: #fff;
  cursor: pointer;
}

.standings-table tbody td {
  padding: 8px 12px;
  border-bottom: 1px solid #444;
  vertical-align: middle;
}

.standings-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.standings-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.team-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.empty-league {
  color: #aaa;
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
  font-style: italic;
}

.league-header.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  border-bottom: 3px solid #b00020;
  padding-bottom: 15px;
}

.league-header.horizontal .league-image {
  max-width: 80px;
  height: auto;
}

.league-header.horizontal .league-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.league-content {
  display: flex;
  gap: 20px;
}

.news-section {
  flex: 2;
}

.teams-section {
  flex: 1;
}

.hidden {
  display: none;
}

.news-item a {
  color: inherit;
  text-decoration: none;
}

.news-item {
  cursor: pointer;
  margin-bottom: 20px;
}

.news-item h3 {
  margin: 10px 10px 5px 10px;
}

.news-item p {
  padding-right: 10px;
  padding-left: 10px;
}

.news-image {
  object-fit: cover;
  border-radius: 10px;
}

.standings-table thead th:nth-child(2),
.standings-table tbody td:nth-child(2) {
  width: 40%;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
