{% extends 'common/base.html' %}
{% block title %}OnTheTouchline | {{ league.eng_name }}{% endblock %}
{% block content %}
<div class="league-page">
   <div class="league-header horizontal">
      <img src="{{ league.logo }}" alt="{{ league.eng_name }}" class="league-image" />
      <h1 class="league-name">{{ league.name }}</h1>
   </div>
   <div class="league-content">
      <div class="news-section">
         <h2>Новини</h2>
         {% for article in articles|slice:':3' %}
         <div class="news-item">
            <a href="{% url 'article-detail' article.slug %}">
               <h3>{{ article.title|truncatewords:5 }}</h3>
               <img src="{{ article.imageURL }}" alt="i-article" class="news-image">
            </a>
            <p>{{ article.description|truncatewords:20 }}</p>
         </div>
         {% empty %}
         <p>Няма новини за тази лига.</p>
         {% endfor %}
         <div class="button-box">
         {% if user.is_staff %}
            <a href="{% url 'edit-league' league.slug %}" class="btn-primary">Редактирай</a>
            <a href="{% url 'delete-league' league.slug %}" class="btn-primary">Изтрий</a>
         {% endif %}
         </div>
      </div>
      <div class="teams-standing">
         <h2 class="teams-title">Класиране</h2>
         <table class="standings-table">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Отбор</th>
                  <th>М</th>
                  <th>Т</th>
                  <th>ГР</th>
               </tr>
            </thead>
            <tbody>
               {% for club in standings %}
               <tr onclick="window.location.href='{% url 'overview' club.slug  %}'">
                     <td>{{ forloop.counter }}</td>
                     <td>
                        <img src="{{ club.logo }}" alt="{{ club.name }}" class="team-logo" style="width: 25px; vertical-align: middle;">
                        {{ club.name }}
                     </td>
                     <td>{{ club.played_games }}</td>
                     <td>{{ club.points }}</td>
                     <td>{{ club.goal_difference }}</td>
               </tr>
               {% empty %}
               <tr>
                  <td colspan="5" class="empty-league">Няма данни за отборите.</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}