{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Vasil Badinski" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'images/freepik.png' %}" type="image/x-icon" />
    <title>OnTheTouchline</title>
</head>
<body>
    <header>
        <div class="header-inner">
            <a href="javascript:void(0)" class="x-button" onclick="openNav()">
                <img src="{% static 'images/main-menu.png' %}" alt="меню" class="menu">
            </a>
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/freepik.png' %}" alt="лого"/>
                <span class="logo-text"><strong>OnTheTouchline</strong></span>
            </a>
        </div>

        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Мачове</a>
            <a href="#">Първенства</a>
            <a href="#">Новини</a>
            <a href="#">Игри</a>
        </nav>
        {% if not request.user.is_authenticated %}
            <div class="auth-links">
                <a href="{% url 'login' %}" class="login">
                    <span>Вход</span>
                </a>
                <a href="{% url 'register' %}" class="register">
                    <span>Регистриране</span>
                </a>
            </div>
        {% else %}
            <a href="{% url 'detail_profile' user.pk %}" class="login">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="потребител">
                {% else %}
                    <img src="{% static 'images/user-interface.png' %}" alt="потребител">
                {% endif %}
                <span>{{ user.username }}</span>
            </a>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-container">
            <nav class="footer-nav">
                <a href="#">Политика за поверителност</a>
                <a href="#">Условия за ползване</a>
                <a href="#">Свържи се с нас</a>
                <a href="#">Социални мрежи</a>
            </nav>
            <p>© 2025 <strong>OnTheTouchline</strong>. Всички права запазени.</p>
        </div>
    </footer>

    <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
